<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="symbol" value="." />
    <add key="timeout" value="0.00:00:30" />
    <add key="pluginDir" value="plugins" />
    <add key="templateDir" value="plugins/templates" />
    <add key="filesDir" value="plugins/files" />
  </appSettings>
</configuration>